{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Rejoignez-nous sur les réseaux sociaux :</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/FS.Tetouan.page.officielle" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <ul>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link mx-2" href="#">
                      <img src="{% static 'assets/img/logo.png' %}" height="80" />
                    </a>
                  </li>
            </ul>
            
          </div>
          <!-- Grid column -->
  
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'index' %}" class="text-reset">Accueil</a>
            </p>
            <p>
              <a href="{% url 'demandeST' %}" class="text-reset">Demander une date de soutnance </a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Avenue de Sebta, Mhannech II
                93002 - Tétouan - Maroc</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              fs.tetouan.contact@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> (+212) 5 39 99 64 32</p>
            <p><i class="fas fa-print me-3"></i> (+212) 5 39 99 45 00</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Tous Droits Réservés FS Tetouan Copyright © 2023. Courriel: fs.tetouan.contact@gmail.com
        Faculté des Sciences, BP. 2121 M'Hannech II , 93030 Tétouan Maroc
      <a class="text-reset fw-bold" href=""></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->